version: 2
jobs:
  build:
    docker:
      - image: circleci/node:8.11-browsers
          environment:
            CHROME_BIN: "/usr/bin/google-chrome"
    working_directory: ~/repo

    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "yarn.lock" }}
            - v1-dependencies-
      - run: yarn install
      - save_cache:
          key: v1-dependencies-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn
            - ./node_modules
      - run:
          name: ng-build
          command: yarn build

      - run:
          name: ng-test
          command: yarn test
      
      - store_test_results:
          path: test-results.xml