<!--The content below is only a placeholder and can be replaced.-->
<div class="center">
  <div style="text-align:center">
    <h1 style="color: #007db8">Future of WEB!</h1>

    <h1>
        {{title}}
    </h1>
    <img width="300" height="300" alt="Angular Logo" src="../assets/angular.png">
    <img width="300" height="290" alt="WASM Logo" src="../assets/wasm.jpg">
    <img width="300" height="300" alt="RUST Logo" src="../assets/rust.png">
  </div>
  <p style="color: #6ea204; font-size: 18px;"><strong>Rust</strong> language based <strong>WebAssembly(WASM)</strong> running inside <strong>Angular</strong> application</p>

  <div class="container">
      <div class="flex-row">
          <label>Factorial</label>
          <input type="text" [value]="factor" (input)="factor = $event.target.value"/>
          <button (click)="calcFactorial()">calculate factorial</button>
      </div>
      <h2 style="color: chocolate">Result: {{factorial}}</h2>
      
        <div class="flex-row">
            <label>Fibonacci</label>
            <input type="text" [value]="fibo" (input)="fibo = $event.target.value"/>
            <button (click)="calcFibonacci()">calculate fibonacci</button>
        </div>

        <h2 style="color: chocolate">Result: {{fibonacci}}</h2>
  </div>
  <footer style="margin-top: 100px">By Punith - @ppgowda4</footer>
</div>


